<p id="notice"><%= notice %></p>

<h1>Vista de lista</h1>

<div class="panel panel-default">

  <div class="panel-heading"><strong>Nombre:</strong> <%= @list.URL %></div>
  <div class="panel-heading"><strong>Creada el:</strong> <%= l @list.created_at %></div>
  <div class="panel-heading"><strong>Modificada el:</strong> <%= l @list.updated_at %></div>
  <div class="panel-heading"><strong>Link a la lista:</strong> <%= link_to "localhost:3000/lists/#{@list.friendly_id}", "localhost:3000/lists/#{@list.friendly_id}"  %></div>
<table class="table">
  <thead>
    <tr>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Porcentaje</th>
      <th>Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @list.tareas.order(priority: :asc).each do |tarea| %>
    <!-- <% if tarea.end_time
            if tarea.end_time< Date.today
      tarea.state = 'Expirada' %>
      <% end %>
      <% end %> -->
    <% if tarea.state == 'Hecha' %>
         <tr class="success">
      <% elsif tarea.state == 'Expirada' %>
        <tr class="danger">
      <% else %>
        <tr>
        <% end %>
        <%#  Date.today.between?(Date.yesterday, Date.tomorrow)%>
        <td><%= case tarea.priority
                  when 1
                     'Alta'
                  when 2
                     'Media'
                  else
                     'Baja'
                  end%></td>
        <td><%= tarea.state %></td>
        <td><%= tarea.description %></td>
        <td><%= tarea.type %></td>

        <td><%= if tarea.begin_time
          l tarea.begin_time, :format => :short
        end%></td>
        <td><%= if tarea.end_time
        l tarea.end_time, :format => :short end%></td>
        <td><%= if !tarea.percentage.nil?
              progress_bar tarea.percentage.to_f/100 ,alternative: 'success', striped: true, active: true, label: true, style: 'min-width: 20px' end %></td>
        <td>
          <%= link_to edit_list_tarea_path(@list,tarea), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
        <%= link_to list_tarea_path(@list,tarea),method: :delete, data: { confirm: 'Esta seguro que quiere eliminar la tarea?' }, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= render "tareas/form"%>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
