<p id="notice"><%= notice %></p>

<h1>Mostrara las listas del usuario, como máximo las últimas 5 listas creadas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Creada el</th>
      <th>Modificada el</th>
      <th>Url</th>
      <th>Vista|Modificar|Borrar</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= l list.created_at %></td>
        <td><%= l list.updated_at %></td>
        <td><%= list.URL %></td>
        <td><%= link_to list_path(list), class: "btn btn-default" do%>
          <i class="glyphicon glyphicon-search"></i>
            <% end %>
          <%= link_to edit_list_path(list), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
        <%= link_to list_path(list),method: :delete, data: { confirm: 'Esta seguro que quiere eliminar la Lista?' }, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= simple_form_for @list do |f| %>
  <%= f.input :URL, label: 'Nueva URL', placeholder: 'Introduce el nombre de la nueva lista' %>
  <%= f.button :submit, class: "btn-success" %>
<% end %>
